/*
 * ======================
 * Site variable mixin
 * ======================
 */

@mixin contain-text {
  word-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
